@charset "utf-8";

* {
	font-family: Arial, sans-serif;
	padding: 0;
}

#wrapper {
	display: inline-block;
	width: 50%;
	padding: 10px;
}

#wrapper h2 {
	color: white;
	background: #424242;
	text-align: center;
	padding: 3px 0 3px 0;
}

#filediv {
	text-align: left;
	display: block;
	float: left;
}

.file {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

.tags {
	font-size: 15px;
	display: inline-block;
	float: left;
}

.upload, .upload1 {
	color: #424242;
	background: #E9E9E9;
	display: inline-block;
	font-size: 15px;
	margin: 0 12px 0 0;
	padding: 6px 12px;
	text-align: center;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
	float: left;
}

.upload, .tags {
	margin: 5px 10px;
}
